/*
Theme Name: Onetone Child
Theme URI: http://www.pcproducoes.com.br/onetone-child/
Description: Onetone child theme.
Author: Giovan
Author URI: http://localhost.pc-producoes/
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: one-column, two-columns, dark,light,gray, responsive-layout, custom-background, custom-header, custom-menu, theme-options, left-sidebar, translation-ready, editor-style, featured-images, full-width-template, rtl-language-support, custom-colors, threaded-comments, buddypress, post-formats
Template: onetone
Text Domain: onetone-child
*/

.wpcf7-form-control{
	background-color: rgba(0, 0, 0, 0.7) !important;
	
}

.campo_ajustado {
	background-color: rgba(0, 0, 0, 0.7) !important;
}